.flex-centered {
    flex-direction: column;
}

.site-name {
    padding: 3.35vh 1vw;
}

main {
    font-size: 1.2em;
    margin: 10vh auto;
}

#user-avatar {
    width: 160px;       /*absolute values, as in instruction*/
    height: 160px;
    margin-bottom: 15%;
}

.user-info label, #user-input, .main-button {
    width: 200px;      /*absolute values, as in instruction*/
}

.user-info label {
    font-size: 1.1em;
}

#user-input {
    padding: 5%;
    font-size: 0.9em;
}

.main-button {
    margin-top: 25px;  /*absolute values, as in instruction*/
    font-size: 1.0em;
    padding: 5%;
}

@media only screen and (max-width: 320px) {
    #user-input, .main-button {
        width: 100%;
        margin: 15px 8px;   /*absolute values, as in instruction*/
    }

    #user-avatar {
        width: 200px;      /*absolute values, as in instruction*/
        height: 200px;         
    }
}

