.container {
    padding: 0.95vh 1vw;    
}

.site-name {
    font-size: 1.3em;
}

.main-button {
    font-size: 1.3em;
    padding: 0.7vw 1.5vw;
}

main {
    font-size: 1.3em;
    padding: 2vw;
}

.cover-section p, .info-section p {
    margin: 1.5vh 0;
}

.cover-section, .info-section, .price-section {
    width: 33vw;
    height: 30vh;
}

.cover-container {
    max-width: 25vw;
    height: 25vw;
}

.book-cover {
    max-width: 76.2%;
    height: 100%;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.price-section {
    border: 2px dashed gray; 
}

#price-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1vw;
}
 
.price-p {
    display: flex;
    justify-content: space-between;
}

#count-books {
    width: 5vw;
    border: 1px solid gray;
    text-align: right;
    padding: 1vh;
    font-size: 1em;
}

#add-button {
    font-size: 0.9em;
    position: absolute;
    right: 1vw;  
    bottom: 1.5vh;
}

.pop-up-container {
    display: flex;
    margin: 2vh 0;
    align-items: center;
}

.pop-up {
    position: relative;
    visibility: hidden;
    margin-left: 2vw;
    margin-right: 1vw;
    z-index: 1;
    font-size: 0.8em;
    background-color:indianred;
    padding: 0.4vw;
    opacity: 0.6;
    transition: width 0.5s;
}

.pop-up::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 102%;
    margin-left: -0.3vw;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent brown;
 }

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 0.6;}
}
  
 @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 0.6 ;}
}

 @media only screen and (max-width: 800px) {
    .cover-section, .info-section, .price-section {
        font-size: 0.8em;
    }
    
    #add-button {
        font-size: 0.8em;
        padding: 1vw;
    }
}

@media only screen and (max-width: 500px) {
    .cover-section, .info-section, .price-section {
        font-size: 0.7em;
    }

     #add-button {
        padding: 2vw;
    }
    
} 

@media only screen and (max-width: 400px) {
    .cover-section, .info-section {
        font-size: 0.6em;
    }
    
    .pop-up-container {
        padding: 0.5vw;
    }

    #count-books {
        margin-left: -8vw;
    }

}    

  
