.container {
    padding: 0.5vw;
}

#sign-button, .main-button {
    font-size: 1.1em;
    padding: 0.7vw 1.5vw;
}

main {
    font-size: 1.1em;
    padding: 2vw;
}

.sort-container {
    position: relative;
}

.fields {
    position: absolute;
    text-align: left;
    padding: 0.3vw;
    font-size: 1.2em;
    border: 1px solid gray;
}

#search-input {
    width: 33vw;     
    background: url("../images/search.jpg") right no-repeat;
    background-size: contain;
}

#search-input:focus {
    box-shadow: 5px 5px 2px 2px gray;
}

#price-input {
    margin-left: 40%; 
    width: 12vw; 
    position: relative;
    padding: 0.3vw;
    /* appearance: none;            //style the triangle in select
    -webkit-appearance: none;
    -moz-appearance: none; */
}

#root {
    flex-wrap: wrap;
    margin-top: 2vw;
}

.book-item {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    padding: 1vw;
    min-height: 55vh;
    max-height: 55vh;
    margin-bottom: 2vw;
    border: 2px solid gray;
}

.cover-container {
    max-width: 24.5vw;
    min-width: 24.5vw;
    min-height: 33vh;
    max-height: 33vh;
}

.book-cover {
    min-height: 33vh;
    max-height: 33vh;
    min-width: 15vw;
    max-width: 15vw;
}

.text-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    border: 1px dashed gray;
}

.text-container p, .text-container h3 {
    margin-top: 1vh;
}

.price-button-container {
    position: absolute;
    width: 93%;
    bottom: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: last baseline  ;
    border: 1px dashed lightblue;
}

.price-text {
    font-size: 1.2em;
}

@media only screen and (max-width: 1000px) {
    .text-container, .price-text {
        font-size: 0.9em;
    }
    
    .view-button {
        font-size: 0.9em;
        padding: 1vw 2vw;
    }
}

@media only screen and (max-width: 800px) {
    .text-container, .price-text {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 750px) {
    .fields {
        font-size: 0.8em;
    }
    .book-item {
        width: 45%;
    }
    .cover-container, .book-cover {
        max-width: 35vh;
    }        
    .view-button {
        font-size: 0.8em;
        padding: 1vw 2vw;
    }
}

@media only screen and (max-width: 500px) {
    .text-container, .price-text {
        font-size: 0.9em;
    }

    #user-container {
        font-size: 1em;
    }     
    .fields {
        font-size: 0.7em;
    }
    main {
        padding: 4vw 8vw;
    }
    .book-item {
        width: 100%;
        min-height: 50vh;
        max-height: 50vh;
        margin-bottom: 5vw;
    }
    .cover-container, .book-cover{
        max-width: 55vh;
    }
    .price-button-container {
        width: 98%;
    }
    .view-button {
        padding: 1vw 2.5vw;
    }
}



